.products {
  &-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  &-loader {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px - 44px);
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
  }
}
